<html>
<head>
<title>Aleo SWF GIF Converter</title>
</head>
<body>
<div align="center">

<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="682" height="240">
  <param name="movie" value="justos vineyard beach resort.swf" />
  <param name="quality" value="high" />
  <param name="wmode" value="transparent">
  <embed src="justos vineyard beach resort.swf"
         quality="high"
         type="application/x-shockwave-flash"
       WMODE="transparent"
         width="682"
         height="240"
         pluginspage="http://www.macromedia.com/go/getflashplayer" />
</object>

</div>
</body>
</html>